:root {
    --color-bg-main: #fff;
    --color-border-light: #E8E8EB;
    --color-text-main: #000;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    background: var(--color-bg-main);
    color: var(--color-text-main);
}

.dev-stand {
    font-size: 16.2px;
}

.dev-stand__extensions {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--color-bg-main);
    border-radius: 8px 8px 0 0;
    border-top: 1px solid var(--color-border-light);
    box-shadow: 0 2px 6px var(--color-border-light);
    font-size: 13px;
    padding: 8px 15px;
    z-index: 1;
    user-select: none;
}

.dev-stand__extensions-item:not(:last-of-type)::after {
    content: '|';
    color: #ddd;
    margin: 0 15px 0 12px;
}

.dev-stand__extensions-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dev-stand__extensions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease;
    cursor: pointer;
    border-radius: 31px;
    background: #eff1f4;
    text-align: center;
    user-select: none;
    border: 1px solid #e1e3e8;
}

.dev-stand__extensions-button--active {
    background: gray;
}

.dev-stand__content {
    max-width: 1100px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}